[package]
name = "toolfw"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
clap.workspace = true
serde_json.workspace = true
toolfw-core = { path = "../../crates/toolfw-core" }
