[package]
name = "c2pa-inspect"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
clap.workspace = true
serde_json.workspace = true
c2pa-inspector-core = { path = "../../crates/c2pa-inspector-core" }
